In [1]:
import pandas as pd

df = pd.read_csv(r"C:\Users\LENOVO\Downloads\Data analysis downloads\shopping_trends.csv")

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Customer ID               3900 non-null   int64
 1   Age                       3900 non-null   int64
 2   Gender                    3900 non-null   object
 3   Item Purchased            3900 non-null   object
 4   Category                  3900 non-null   object
 5   Purchase Amount (USD)     3900 non-null   int64
 6   Location                  3900 non-null   object
 7   Size                      3900 non-null   object
 8   Color                     3900 non-null   object
 9   Season                    3900 non-null   object
 10  Review Rating             3900 non-null   float64
 11  Subscription Status       3900 non-null   object
 12  Payment Method            3900 non-null   object
 13  Shipping Type             3900 non-null   object
 14  Discount Applied          3900 non-null   object
 15  Promo Code Used           3900 non-null   object
 16  Previous Purchases        3900 non-null   int64
 17  Preferred Payment Method  3900 non-null   object
 18  Frequency of Purchases    3900 non-null   object
dtypes: float64(1), int64(4), object(14)
memory usage: 579.0+ KB

In [3]:
df.isnull().sum()

Customer ID                 0
Age                         0
Gender                      0
Item Purchased              0
Category                    0
Purchase Amount (USD)       0
Location                    0
Size                        0
Color                       0
Season                      0
Review Rating               0
Subscription Status         0
Payment Method              0
Shipping Type               0
Discount Applied            0
Promo Code Used             0
Previous Purchases          0
Preferred Payment Method    0
Frequency of Purchases      0
dtype: int64

In [ ]:
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df = df.rename(columns ={'purchase amount (usd)': 'purchase_amount'})

df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'payment_method',
       'shipping_type', 'discount_applied', 'promo_code_used',
       'previous_purchases', 'preferred_payment_method',
       'frequency_of_purchases'],
      dtype='object')

In [13]:
#create a column named age_groups

labels = ['Young Adult', 'Adult','Middle-Aged','Senior']
df['age_group'] = pd.qcut(df['age'], q = 4, labels = labels)

In [14]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

In [19]:
#create column frequency_purchase_days

frequency_mapping = {
     'Fortnightly': 14,
     'Weekly': 7,
     'Monthly': 30,
     'Quarterly': 90,
     'Bi-Weekly':14,
     'Annually': 365,
     'Every 3 Months': 90
}
df['frequency_purchase_days'] = df['frequency_of_purchases'].map(frequency_mapping)

In [20]:
df[['frequency_of_purchases','frequency_purchase_days']].head(10)

  frequency_of_purchases  frequency_purchase_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

In [ ]:
df[['discount_applied','promo_code_used']].head()
# check whether the two columns contain the exact same data

(df['discount_applied']==df['promo_code_used']).all()

np.True_

In [ ]:
#delete the promo_code_used  column(axis = 1)
df = df.drop('promo_code_used', axis = 1)

In [33]:
import psycopg2
from sqlalchemy import create_engine

import pandas as pd


database="sales_data",
username="postgres",
password="3797",
host="localhost",
port="5432"

# Create engine using SQLAlchemy
engine = create_engine('postgresql+psycopg2://postgres:3797@localhost:5432/sales_data')

#load dataframe into postgres

table_name = 'sales'
df.to_sql(table_name, engine, if_exists = 'replace', index = False)



print(f'Data successifuly loaded in to the {table_name} table in {database} database')

Data successifuly loaded in to the sales table in ('sales_data',) database